#chapter {
  width: fit-content;
}

#chapter #message-panel,
#chapter #hint {
  z-index: 1;
  color: #99ae05;
  font-size: 1rem;
  height: 12%;
  width: 47vw;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  text-align: center;
}

#chapter #hint {
  opacity: 0;
}

#chapter #hint:hover {
  opacity: 1;
  transition: all 1s;
}

#chapter #message-panel {
  position: absolute;
  top: 10.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#chapter #message-panel p {
  margin: 0;
}

#chapter #background-img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#chapter code {
  color: #d16407;
}

#chapter #video-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44vw;
  height: 64vh;
  overflow: hidden;
  text-align: center;
}

#chapter #video-container video {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 100vh;
  transform: translate(-50%, -50%);
}

#chapter #intro-vid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}

#chapter .push {
  animation: btnanimation 2s infinite alternate;
}

#chapter #next-step-img {
  opacity: 0;
  position: absolute;
  top: -0.2vh;
  right: 50%;
  transform: translate(66.5vh, 0);
  height: 22.2vh;
  cursor: pointer;
}

#chapter #prev-step-img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  height: 20.6vh;
  animation: btnanimation 4s infinite alternate;
  transform: translate(-65.2vh, 0);
  cursor: pointer;
}

@keyframes btnanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#chapter #hint {
  position: absolute;
  left: 50%;
  top: 23vh;
  transform: translate(-27vh, 0vh);
  background: black;
  border-radius: 35%;
  width: 186px;
  height: 151px;
  word-break: break-word;
}

#chapter .chapter-cover {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: black;
}

#chapter .chapter-cover img {
  max-width: 100%;
  max-height: 100%;
}

#chapter #hidden-hint{
  color: #99ae05;
  font-size: 1rem;
  line-height: 1.1;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 23vh;
  transform: translate(-52vh, 0vh);
  background: #000;
  border-radius: 35%;
  width: 155px;
  height: 139px;
  word-break: break-word;
  opacity: 0;
  padding: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#chapter #hidden-hint:hover {
  opacity:  1;
}

#chapter #hidden-hint:hover:active,
#chapter #hidden-hint:focus {
  opacity: 1;
}

#chapter #code {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 6vh;
  transform: translate(-50%, 0);
  background: black;
  border-radius: 4px;
  padding: 0 0.5em;
}

#chapter #code:hover {
  opacity: 0;
  transition: 0.5s;
}

#chapter #step-image-container {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chapter #step-image-container img {
  height: 100%;
  max-width: 100%;
}
